* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
	overflow-x: hidden;
}

section{
	padding: 2rem 9%;

}


body {
    font-family: 'open sans';
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;  
    margin: 2rem 0;
    background: rgba(4, 152, 225, .5);
}



.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #0498E1;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.8rem;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 20px;
    font-weight: 300;
    color: #eee;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.historia .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}


.historia .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.historia .row .video-container iframe{
    width: 600px;
    border: 1rem solid #fff;
    border-radius:.5rem ;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 400px;
    object-fit: cover;

}

.historia .row .content{
    flex: 1 1 40rem;
}

.historia .row .content p{
    font-size: 1.7rem;
    color: #333;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}


.container {
    max-width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: .5s;
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #DDABAB;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.container .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #B1DEF4;
    z-index: 1;
    transition: .5s;
}

.container .card:hover::before {
    background: #0498E1;
    transform: scale(1.15);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
}

.container:hover .card {
    filter: blur(5px);
    transform: scale(.75);
}

.container .card:hover {
    filter: blur(0);
    transform: scale(1);
}

.container .card .content {
    text-align: center;
    z-index: 2;
    padding: 0 20px;
    transition: .5s;
}

.container .card:hover .content {
    color: #e4f9f5;
}

.container .card .content h2 {
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
}

.container .card .content p {
    font-size: 1.2rem;
}
  

.sentencias .style-table{
    align-items: center;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.7rem;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.sentencias .style-table thead tr{
    background-color: #0498E1;
    color: #fff;
    text-align: middle;
}

.sentencias .style-table th,.style-table td{
    padding: 12px 15px;
}

.sentencias .style-table tbody tr{
    border-bottom: 1px solid #ddd;
}

.sentencias .style-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}





@media screen and (max-width:900px){
    html{
		font-size: 55%;
	}

    header{
        background-position: center;
    }

    .sentencias .style-table{
        align-items: center;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 1.3rem;
        min-width: 400px;
       
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

    .imagen-about-us{
    margin-bottom: 60px;
    width: 99%;
}

.sentencias .style-table{
    align-items: center;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.3rem;
    min-width: 400px;
   
}

}


